{
    "plugins": ["node"],
    "extends": ["eslint:recommended", "plugin:node/recommended"],
    "rules": {
        "node/exports-style": ["error", "module.exports"],
        "semi": ["error", "always"]
    },
    "env": {
        "node": true
    },
    "root": true
}
