language: node_js
node_js:
  - "node"
  - "14"
  - "12"
  - "10"
before_install:
  - npm i -g npm
before_script:
  - npm install -g gulp-cli
script:
  - npm test
cache:
  apt: true
  directories:
  - "$HOME/.npm"
